
#login{
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    background: #da1515;
    border: none;
    color: white;
    letter-spacing: 1px;
}

#login:hover{
 border: 1px solid #da1515;
 background: transparent;
}